@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto";
  font-weight: 400;
  margin: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}
body::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: url("../bg.jpg") center/cover no-repeat;
  filter: blur(0.3rem);
}

@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeTop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.start {
  text-align: center;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 420px) {
  .start {
    padding: 3rem;
  }
}
.start__title {
  font-size: 2.8rem;
  font-weight: 700;
  border: 3px solid rgba(255, 255, 255, 0);
  transition: all 250ms ease-in-out;
  background-color: #EBECF0;
  display: inline-block;
  padding: 2rem;
  border-radius: 2rem;
  transition: all 250ms ease-in-out;
  position: relative;
  animation: fadeInTop 1s;
  box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
  border-color: rgba(255, 255, 255, 0);
}
@media (max-width: 530px) {
  .start__title {
    font-size: 2rem;
  }
}
@media (max-width: 420px) {
  .start__title {
    font-size: 1.5rem;
  }
}
.start__title::after {
  content: "";
  background: url("../ton.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 5rem;
  height: 2rem;
  position: absolute;
  right: 0.8rem;
  bottom: 0.3rem;
}
@media (max-width: 530px) {
  .start__title::after {
    width: 4rem;
    height: 1.5rem;
  }
}
@media (max-width: 420px) {
  .start__title::after {
    width: 3rem;
    height: 1rem;
  }
}
.start__title-text {
  background: linear-gradient(45deg, #2D83EC, #1AC9FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.start__text {
  opacity: 0;
  animation: fadeInTop 1s 1s forwards;
  margin-top: 4rem;
  font-size: 2.3rem;
  color: #6C7587;
  font-weight: 500;
  background: #EBECF0;
  display: inline-block;
  padding: 2rem 3rem;
  border-radius: 2rem;
  text-transform: uppercase;
  box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
  border: 3px solid rgba(255, 255, 255, 0);
  position: relative;
}
@media (max-width: 530px) {
  .start__text {
    font-size: 1.7rem;
  }
}
@media (max-width: 420px) {
  .start__text {
    font-size: 1.2rem;
  }
}
.start__text::before {
  content: "";
  background: url("../ton_symbol.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 0.8rem;
  top: 0.8rem;
}
.start__text-p {
  font-weight: 500;
}
.start__text-p:not(:last-child) {
  margin-bottom: 2rem;
}
@media (max-width: 420px) {
  .start__text-p:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.start__btn {
  opacity: 0;
  margin-top: 6rem;
  border-radius: 4rem;
  color: #6C7587;
  border: 3px solid rgba(255, 255, 255, 0);
  text-align: center;
  background-color: #EBECF0;
  transition: all 250ms ease-in-out;
  padding: 1.5rem 4rem;
  font-size: 3rem;
  text-decoration: none;
  position: relative;
  animation: fadeTop 1s 2s forwards;
  box-shadow: #2D83EC 0px 12px 28px 0px, #2D83EC 0px 2px 4px 0px;
}
@media (max-width: 530px) {
  .start__btn {
    font-size: 2.1rem;
  }
}
@media (max-width: 420px) {
  .start__btn {
    font-size: 2rem;
  }
}
.start__btn:hover {
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.5);
}
.start__btn:active {
  box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
  border-color: rgba(255, 255, 255, 0);
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.tasks {
  text-align: center;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}
.tasks-wrapper {
  animation: fadeInTop 1s;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.tasks-wrapper__task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 14rem;
       column-gap: 14rem;
  color: #6C7587;
  padding: 1rem 2rem;
  background: #EBECF0;
  border-radius: 2rem;
  text-decoration: none;
  box-shadow: 8px 8px 12px -2px rgba(72, 79, 96, 0.4), -6px -6px 12px -1px white;
  border: 0.3rem solid rgba(255, 255, 255, 0);
  transition: all 250ms ease-in-out;
}
@media (max-width: 475px) {
  .tasks-wrapper__task {
    -moz-column-gap: 7rem;
         column-gap: 7rem;
  }
}
.tasks-wrapper__task:hover {
  box-shadow: none;
  border: 0.3rem solid rgba(255, 255, 255, 0.5);
}
.tasks-wrapper__task:active {
  box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
  border: 0.3rem solid rgba(255, 255, 255, 0);
}
.tasks-wrapper__task:not(:last-child) {
  margin-bottom: 2rem;
}
.tasks-wrapper__task-name, .tasks-wrapper__task-price {
  font-size: 2.5rem;
}
@media (max-width: 475px) {
  .tasks-wrapper__task-name, .tasks-wrapper__task-price {
    font-size: 1.5rem;
  }
}
.tasks__btn {
  opacity: 0;
  margin-top: 6rem;
  border-radius: 4rem;
  color: #6C7587;
  border: 3px solid rgba(255, 255, 255, 0);
  text-align: center;
  background-color: #EBECF0;
  transition: all 250ms ease-in-out;
  padding: 1.5rem 4rem;
  font-size: 3rem;
  text-decoration: none;
  position: relative;
  animation: fadeTop 1s 2s forwards;
  box-shadow: #2D83EC 0px 12px 28px 0px, #2D83EC 0px 2px 4px 0px;
}
@media (max-width: 530px) {
  .tasks__btn {
    font-size: 2.1rem;
  }
}
@media (max-width: 420px) {
  .tasks__btn {
    font-size: 2rem;
  }
}
.tasks__btn:hover {
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.5);
}
.tasks__btn:active {
  box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
  border-color: rgba(255, 255, 255, 0);
}

.task {
  text-align: center;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 420px) {
  .task {
    padding: 3rem;
  }
}
.task__title {
  animation: fadeInTop 1s;
  font-size: 3.5rem;
  font-weight: 700;
  border: 3px solid rgba(255, 255, 255, 0);
  transition: all 250ms ease-in-out;
  background-color: #EBECF0;
  display: inline-block;
  padding: 2rem;
  border-radius: 2rem;
  transition: all 250ms ease-in-out;
  position: relative;
  box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
  border-color: rgba(255, 255, 255, 0);
}
@media (max-width: 540px) {
  .task__title {
    font-size: 2rem;
  }
}
@media (max-width: 420px) {
  .task__title {
    font-size: 1.5rem;
  }
}
.task__title::after {
  content: "";
  background: url("../ton.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 5rem;
  height: 2rem;
  position: absolute;
  right: 0.8rem;
  bottom: 0.3rem;
}
@media (max-width: 530px) {
  .task__title::after {
    width: 4rem;
    height: 1.5rem;
  }
}
@media (max-width: 420px) {
  .task__title::after {
    width: 3rem;
    height: 1rem;
  }
}
.task__title-text {
  background: linear-gradient(45deg, #2D83EC, #1AC9FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.task__text {
  opacity: 0;
  animation: fadeTop 1s 1s forwards;
  margin-top: 4rem;
  font-size: 1.9rem;
  color: #6C7587;
  font-weight: 500;
  background: #EBECF0;
  display: inline-block;
  padding: 2rem 3rem;
  border-radius: 2rem;
  text-transform: uppercase;
  box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
  border: 3px solid rgba(255, 255, 255, 0);
  position: relative;
  width: 32rem;
}
@media (max-width: 540px) {
  .task__text {
    font-size: 1.7rem;
    width: 17rem;
  }
}
@media (max-width: 420px) {
  .task__text {
    font-size: 1rem;
    width: 10rem;
  }
}
.task__text::before {
  content: "";
  background: url("../ton_symbol.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 0.8rem;
  top: 0.8rem;
}
.task__text-p {
  font-weight: 500;
}
.task__text-p:not(:last-child) {
  margin-bottom: 2rem;
}
@media (max-width: 420px) {
  .task__text-p:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.task__price {
  opacity: 0;
  animation: fadeTop 1s 1.5s forwards;
  margin-top: 6rem;
  font-weight: 700;
  font-size: 6rem;
  text-transform: uppercase;
}
.task__btn {
  opacity: 0;
  margin-top: 6rem;
  border-radius: 4rem;
  color: #6C7587;
  border: 3px solid rgba(255, 255, 255, 0);
  text-align: center;
  background-color: #EBECF0;
  transition: all 250ms ease-in-out;
  padding: 1.5rem 4rem;
  font-size: 3rem;
  text-decoration: none;
  position: relative;
  animation: fadeTop 1s 2s forwards;
  box-shadow: #2D83EC 0px 12px 28px 0px, #2D83EC 0px 2px 4px 0px;
}
@media (max-width: 530px) {
  .task__btn {
    font-size: 2.1rem;
  }
}
@media (max-width: 420px) {
  .task__btn {
    font-size: 2rem;
  }
}
.task__btn:hover {
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.5);
}
.task__btn:active {
  box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
  border-color: rgba(255, 255, 255, 0);
}

.new-task {
  text-align: center;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 420px) {
  .new-task {
    padding: 3rem;
  }
}
.new-task__title {
  animation: fadeInTop 1s;
  font-size: 2.8rem;
  font-weight: 700;
  border: 3px solid rgba(255, 255, 255, 0);
  transition: all 250ms ease-in-out;
  background-color: #EBECF0;
  display: inline-block;
  padding: 2rem;
  border-radius: 2rem;
  transition: all 250ms ease-in-out;
  position: relative;
  box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
  border-color: rgba(255, 255, 255, 0);
  position: relative;
}
@media (max-width: 530px) {
  .new-task__title {
    font-size: 2rem;
  }
}
@media (max-width: 420px) {
  .new-task__title {
    font-size: 1.5rem;
  }
}
.new-task__title::after {
  content: "";
  background: url("../ton.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 5rem;
  height: 2rem;
  position: absolute;
  right: 0.8rem;
  bottom: 0.3rem;
}
@media (max-width: 530px) {
  .new-task__title::after {
    width: 4rem;
    height: 1.5rem;
  }
}
@media (max-width: 420px) {
  .new-task__title::after {
    width: 3rem;
    height: 1rem;
  }
}
.new-task__title-text {
  background: linear-gradient(45deg, #2D83EC, #1AC9FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.new-task-form {
  opacity: 0;
  animation: fadeInTop 1s 1s forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
.new-task-form__input {
  box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
  color: #6C7587;
  background-color: #EBECF0;
  border: 0.3rem solid rgba(255, 255, 255, 0);
  border-radius: 4rem;
  padding: 1.2rem 2.8rem;
  width: 80%;
  font-weight: 500;
  font-size: 2.5rem;
  outline: none;
  transition: all 250ms ease-in-out;
}
@media (max-width: 530px) {
  .new-task-form__input {
    font-size: 2rem;
  }
}
@media (max-width: 420px) {
  .new-task-form__input {
    font-size: 1.7rem;
  }
}
.new-task-form__input:not(:last-child) {
  margin-bottom: 1rem;
}
.new-task-form__input::-moz-placeholder {
  color: #6C7587;
  font-weight: 500;
  font-size: 2.5rem;
}
.new-task-form__input::placeholder {
  color: #6C7587;
  font-weight: 500;
  font-size: 2.5rem;
}
@media (max-width: 530px) {
  .new-task-form__input::-moz-placeholder {
    font-size: 2rem;
  }
  .new-task-form__input::placeholder {
    font-size: 2rem;
  }
}
@media (max-width: 420px) {
  .new-task-form__input::-moz-placeholder {
    font-size: 1.7rem;
  }
  .new-task-form__input::placeholder {
    font-size: 1.7rem;
  }
}
.new-task-form__input:focus {
  box-shadow: none;
}
.new-task-form__input:hover {
  box-shadow: none;
}
.new-task__btn {
  opacity: 0;
  margin-top: 6rem;
  border-radius: 4rem;
  color: #6C7587;
  border: 3px solid rgba(255, 255, 255, 0);
  text-align: center;
  background-color: #EBECF0;
  transition: all 250ms ease-in-out;
  padding: 1.5rem 4rem;
  font-size: 3rem;
  text-decoration: none;
  position: relative;
  animation: fadeTop 1s 2s forwards;
  box-shadow: #2D83EC 0px 12px 28px 0px, #2D83EC 0px 2px 4px 0px;
}
@media (max-width: 530px) {
  .new-task__btn {
    font-size: 2.1rem;
  }
}
@media (max-width: 420px) {
  .new-task__btn {
    font-size: 2rem;
  }
}
.new-task__btn:hover {
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.5);
}
.new-task__btn:active {
  box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
  border-color: rgba(255, 255, 255, 0);
}

.created {
  text-align: center;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 420px) {
  .created {
    padding: 3rem;
  }
}
.created__title {
  font-size: 2.8rem;
  font-weight: 700;
  border: 3px solid rgba(255, 255, 255, 0);
  transition: all 250ms ease-in-out;
  background-color: #EBECF0;
  display: inline-block;
  padding: 2rem;
  border-radius: 2rem;
  transition: all 250ms ease-in-out;
  position: relative;
  box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
  border-color: rgba(255, 255, 255, 0);
}
@media (max-width: 530px) {
  .created__title {
    font-size: 2rem;
  }
}
@media (max-width: 420px) {
  .created__title {
    font-size: 1.5rem;
  }
}
.created__title::after {
  content: "";
  background: url("../ton.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 5rem;
  height: 2rem;
  position: absolute;
  right: 0.8rem;
  bottom: 0.3rem;
}
@media (max-width: 530px) {
  .created__title::after {
    width: 4rem;
    height: 1.5rem;
  }
}
@media (max-width: 420px) {
  .created__title::after {
    width: 3rem;
    height: 1rem;
  }
}
.created__title-text {
  background: linear-gradient(45deg, #2D83EC, #1AC9FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.created__price {
  margin-top: 6rem;
  font-weight: 700;
  font-size: 6rem;
  text-transform: uppercase;
}
.created__btn {
  opacity: 0;
  margin-top: 6rem;
  border-radius: 4rem;
  color: #6C7587;
  border: 3px solid rgba(255, 255, 255, 0);
  text-align: center;
  background-color: #EBECF0;
  transition: all 250ms ease-in-out;
  padding: 1.5rem 4rem;
  font-size: 3rem;
  text-decoration: none;
  position: relative;
  animation: fadeTop 1s 2s forwards;
  box-shadow: #2D83EC 0px 12px 28px 0px, #2D83EC 0px 2px 4px 0px;
}
@media (max-width: 530px) {
  .created__btn {
    font-size: 2.1rem;
  }
}
@media (max-width: 420px) {
  .created__btn {
    font-size: 2rem;
  }
}
.created__btn:hover {
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.5);
}
.created__btn:active {
  box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
  border-color: rgba(255, 255, 255, 0);
}

.pay {
  text-align: center;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 420px) {
  .pay {
    padding: 3rem;
  }
}
.pay__title {
  animation: fadeInTop 1s;
  font-size: 2.8rem;
  font-weight: 700;
  border: 3px solid rgba(255, 255, 255, 0);
  transition: all 250ms ease-in-out;
  background-color: #EBECF0;
  display: inline-block;
  padding: 2rem;
  border-radius: 2rem;
  transition: all 250ms ease-in-out;
  position: relative;
  box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
  border-color: rgba(255, 255, 255, 0);
}
@media (max-width: 550px) {
  .pay__title {
    font-size: 2rem;
  }
}
@media (max-width: 420px) {
  .pay__title {
    font-size: 1.5rem;
  }
}
.pay__title::after {
  content: "";
  background: url("../ton.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 5rem;
  height: 2rem;
  position: absolute;
  right: 0.8rem;
  bottom: 0.3rem;
}
@media (max-width: 550px) {
  .pay__title::after {
    width: 4rem;
    height: 1.5rem;
  }
}
@media (max-width: 420px) {
  .pay__title::after {
    width: 3rem;
    height: 1rem;
  }
}
.pay__title-text {
  background: linear-gradient(45deg, #2D83EC, #1AC9FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pay__text {
  opacity: 0;
  animation: fadeInTop 1s 1s forwards;
  margin-top: 4rem;
  font-size: 2.3rem;
  color: #6C7587;
  font-weight: 500;
  background: #EBECF0;
  display: inline-block;
  padding: 2rem 3rem;
  border-radius: 2rem;
  text-transform: uppercase;
  box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
  border: 3px solid rgba(255, 255, 255, 0);
  position: relative;
}
@media (max-width: 550px) {
  .pay__text {
    font-size: 1.7rem;
  }
}
@media (max-width: 420px) {
  .pay__text {
    font-size: 1.2rem;
  }
}
.pay__text::before {
  content: "";
  background: url("../ton_symbol.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 0.8rem;
  bottom: 0.8rem;
}
.pay__text-p {
  font-weight: 500;
}
.pay__text-p:not(:last-child) {
  margin-bottom: 2rem;
}
@media (max-width: 420px) {
  .pay__text-p:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.pay__link {
  opacity: 0;
  animation: fadeInTop 1s 1s forwards;
  margin-top: 8rem;
  font-size: 2rem;
  text-decoration: underline 0.2rem solid rgb(37, 37, 39);
  -webkit-text-decoration: underline 0.2rem solid rgb(37, 37, 39);
  word-break: break-all;
}
.pay__btn {
  opacity: 0;
  margin-top: 6rem;
  border-radius: 4rem;
  color: #6C7587;
  border: 3px solid rgba(255, 255, 255, 0);
  text-align: center;
  background-color: #EBECF0;
  transition: all 250ms ease-in-out;
  padding: 1.5rem 4rem;
  font-size: 3rem;
  text-decoration: none;
  position: relative;
  animation: fadeTop 1s 2s forwards;
  box-shadow: #2D83EC 0px 12px 28px 0px, #2D83EC 0px 2px 4px 0px;
}
@media (max-width: 530px) {
  .pay__btn {
    font-size: 2.1rem;
  }
}
@media (max-width: 420px) {
  .pay__btn {
    font-size: 2rem;
  }
}
.pay__btn:hover {
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.5);
}
.pay__btn:active {
  box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
  border-color: rgba(255, 255, 255, 0);
}
.pay__btn-copy {
  opacity: 0;
  margin-top: 6rem;
  border-radius: 4rem;
  color: #6C7587;
  border: 3px solid rgba(255, 255, 255, 0);
  text-align: center;
  background-color: #EBECF0;
  transition: all 250ms ease-in-out;
  padding: 1.5rem 4rem;
  font-size: 3rem;
  text-decoration: none;
  position: relative;
  animation: fadeTop 1s 2s forwards;
  box-shadow: #2D83EC 0px 12px 28px 0px, #2D83EC 0px 2px 4px 0px;
}
@media (max-width: 530px) {
  .pay__btn-copy {
    font-size: 2.1rem;
  }
}
@media (max-width: 420px) {
  .pay__btn-copy {
    font-size: 2rem;
  }
}
.pay__btn-copy:hover {
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.5);
}
.pay__btn-copy:active {
  box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
  border-color: rgba(255, 255, 255, 0);
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}/*# sourceMappingURL=style.css.map */