@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto";
  font-weight: 400;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #EBECF0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.start {
  text-align: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.start__title {
  font-size: 3rem;
  font-weight: 700;
  box-shadow: 8px 8px 12px -2px rgba(72, 79, 96, 0.4), -6px -6px 12px -1px white;
  border: 3px solid rgba(255, 255, 255, 0);
  transition: all 250ms ease-in-out;
  background-color: #EBECF0;
  display: inline-block;
  padding: 2rem;
  border-radius: 2rem;
  margin-top: 8rem;
  transition: all 250ms ease-in-out;
  border-color: rgba(255, 255, 255, 0);
}
.start__title-text {
  background: linear-gradient(45deg, #18407f 33%, #0D61BC 66%, #6e93cb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.start__title:hover {
  box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
}
.start__text {
  margin-top: 6rem;
  font-size: 2.5rem;
  color: #6C7587;
  font-weight: 500;
  background: #EBECF0;
  display: inline-block;
  box-shadow: 8px 8px 12px -2px rgba(72, 79, 96, 0.4), -6px -6px 12px -1px white;
  padding: 2rem 3rem;
  border-radius: 2rem;
  text-transform: uppercase;
}
.start__text:hover {
  box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
  border-color: rgba(255, 255, 255, 0);
}
.start__text-p {
  font-weight: 500;
}
.start__text-p:not(:last-child) {
  margin-bottom: 2rem;
}
.start__btn {
  margin-top: 4rem;
  border-radius: 40px;
  box-shadow: 8px 8px 12px -2px rgba(72, 79, 96, 0.4), -6px -6px 12px -1px white;
  color: #6C7587;
  border: 3px solid rgba(255, 255, 255, 0);
  text-align: center;
  background-color: #EBECF0;
  transition: all 250ms ease-in-out;
  padding: 1.5rem 4rem;
  font-size: 3rem;
  text-decoration: none;
  position: relative;
  border-color: rgba(255, 255, 255, 0);
}
.start__btn:hover {
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.5);
}
.start__btn:active {
  box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
}
.start__btn::before {
  content: "";
  background: linear-gradient(45deg, #18407f, #0D61BC, #6e93cb);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 40px;
}
.start__btn:hover::before {
  opacity: 0;
}

.tasks {
  min-width: 32.4rem;
  margin: 1rem;
  text-align: center;
  background: #EBECF0;
  padding: 3rem;
}
.tasks-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.tasks-wrapper__task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1rem 2rem;
  background: rgb(0, 122, 255);
  border-radius: 0.7rem;
  text-decoration: none;
  transition: 0.5s all;
}
.tasks-wrapper__task:hover {
  transform: translateY(-1rem);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: rgb(37, 37, 39);
  background: rgb(225, 223, 229);
}
.tasks-wrapper__task:not(:last-child) {
  margin-bottom: 2rem;
}
.tasks-wrapper__task-name, .tasks-wrapper__task-price {
  font-size: 2.5rem;
}
.tasks__btn {
  display: inline-block;
  border-radius: 1rem;
  padding: 1.5rem 3rem;
  text-decoration: none;
  color: rgb(37, 37, 39);
  background: rgb(225, 223, 229);
  font-size: 2.5rem;
  margin-top: 10rem;
  transition: 0.5s all;
  text-transform: uppercase;
  transition: 0.5s all;
}
.tasks__btn:hover {
  transform: translateY(-1rem);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
  background: rgb(0, 122, 255);
}
.tasks__btn:active {
  transform: translateY(-0.5rem);
}

.task {
  min-width: 32.4rem;
  margin: 1rem;
  text-align: center;
  background: #EBECF0;
  padding: 3rem;
}
.task__title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  background: rgb(0, 122, 255);
  color: white;
  display: inline-block;
  padding: 2rem;
  border-radius: 2rem;
  margin-top: 3rem;
  transition: 0.5s all;
}
.task__title:hover {
  transform: translateY(-1rem);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.task__text {
  margin-top: 8rem;
  margin-bottom: 7rem;
  font-size: 2rem;
  color: rgb(37, 37, 39);
  background: rgb(225, 223, 229);
  display: inline-block;
  padding: 2rem 3rem;
  border-radius: 2rem;
  text-transform: uppercase;
  transition: 0.5s all;
}
.task__text:hover {
  transform: translateY(-1rem);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.task__text-p {
  font-weight: 500;
}
.task__text-p:not(:last-child) {
  margin-bottom: 2rem;
}
.task__price {
  font-weight: 700;
  font-size: 6rem;
  text-transform: uppercase;
}
.task__price-shadow {
  transform: scale(1, -1) translateY(3rem);
  color: rgba(0, 0, 0, 0.1);
}

.new-task {
  min-width: 32.4rem;
  margin: 1rem;
  text-align: center;
  background: #EBECF0;
  padding: 3rem;
}
.new-task__title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background: rgb(0, 122, 255);
  color: white;
  display: inline-block;
  padding: 2rem;
  border-radius: 2rem;
  margin-top: 3rem;
  transition: 0.5s all;
}
.new-task__title:hover {
  transform: translateY(-1rem);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.new-task-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
}
.new-task-form__input {
  color: rgb(37, 37, 39);
  background: rgb(225, 223, 229);
  border: 0.2rem solid rgb(37, 37, 39);
  border-radius: 2rem;
  padding: 1rem 2rem;
  width: 80%;
  font-weight: 500;
  font-size: 2rem;
}
.new-task-form__input:not(:last-child) {
  margin-bottom: 1rem;
}
.new-task-form__input::-moz-placeholder {
  color: rgb(37, 37, 39);
  font-weight: 500;
  font-size: 2rem;
}
.new-task-form__input::placeholder {
  color: rgb(37, 37, 39);
  font-weight: 500;
  font-size: 2rem;
}
.new-task__btn {
  display: inline-block;
  border-radius: 1rem;
  padding: 1.5rem 3rem;
  text-decoration: none;
  color: rgb(37, 37, 39);
  background: rgb(225, 223, 229);
  font-size: 2.5rem;
  margin-top: 10rem;
  transition: 0.5s all;
  text-transform: uppercase;
  transition: 0.5s all;
}
.new-task__btn:hover {
  transform: translateY(-1rem);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
  background: rgb(0, 122, 255);
}
.new-task__btn:active {
  transform: translateY(-0.5rem);
}

.created {
  min-width: 32.4rem;
  margin: 1rem;
  text-align: center;
  background: #EBECF0;
  padding: 3rem;
}
.created__title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background: rgb(0, 122, 255);
  color: white;
  display: inline-block;
  padding: 2rem;
  border-radius: 2rem;
  margin-top: 3rem;
  margin-bottom: 7rem;
  transition: 0.5s all;
}
.created__title:hover {
  transform: translateY(-1rem);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.created__price {
  font-weight: 700;
  font-size: 6rem;
  text-transform: uppercase;
}
.created__price-shadow {
  transform: scale(1, -1) translateY(3rem);
  color: rgba(0, 0, 0, 0.1);
}
.created__btn {
  display: inline-block;
  border-radius: 1rem;
  padding: 1.5rem 3rem;
  text-decoration: none;
  color: rgb(37, 37, 39);
  background: rgb(225, 223, 229);
  font-size: 2.5rem;
  margin-top: 10rem;
  transition: 0.5s all;
  text-transform: uppercase;
  transition: 0.5s all;
}
.created__btn:hover {
  transform: translateY(-1rem);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
  background: rgb(0, 122, 255);
}
.created__btn:active {
  transform: translateY(-0.5rem);
}
.created__btn-second {
  margin-top: 3rem;
}

.pay {
  min-width: 32.4rem;
  margin: 1rem;
  text-align: center;
  background: #EBECF0;
  padding: 3rem;
}
.pay__title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background: rgb(0, 122, 255);
  color: white;
  display: inline-block;
  padding: 2rem;
  border-radius: 2rem;
  margin-top: 3rem;
  transition: 0.5s all;
}
.pay__title:hover {
  transform: translateY(-1rem);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.pay__text {
  margin-top: 6rem;
  font-size: 2rem;
  color: rgb(37, 37, 39);
  background: rgb(225, 223, 229);
  display: inline-block;
  padding: 2rem 3rem;
  border-radius: 2rem;
  text-transform: uppercase;
  transition: 0.5s all;
}
.pay__text:hover {
  transform: translateY(-1rem);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.pay__text-p {
  font-weight: 500;
}
.pay__text-p:not(:last-child) {
  margin-bottom: 2rem;
}
.pay__link {
  margin-top: 8rem;
  font-size: 1.5rem;
}
.pay__link:hover {
  text-decoration: underline 0.2rem solid rgb(37, 37, 39);
  -webkit-text-decoration: underline 0.2rem solid rgb(37, 37, 39);
}/*# sourceMappingURL=style.css.map */