@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto";
  font-weight: 400;
  margin: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}
body::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: url("../bg.jpg") center/cover no-repeat;
  filter: blur(0.3rem);
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.start {
  text-align: center;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 420px) {
  .start {
    padding: 3rem;
  }
}
.start__title {
  font-size: 2.8rem;
  font-weight: 700;
  border: 3px solid rgba(255, 255, 255, 0);
  transition: all 250ms ease-in-out;
  background-color: #EBECF0;
  display: inline-block;
  padding: 2rem;
  border-radius: 2rem;
  transition: all 250ms ease-in-out;
  position: relative;
  box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
  border-color: rgba(255, 255, 255, 0);
}
@media (max-width: 530px) {
  .start__title {
    font-size: 2rem;
  }
}
@media (max-width: 420px) {
  .start__title {
    font-size: 1.5rem;
  }
}
.start__title::after {
  content: "";
  background: url("../ton.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 5rem;
  height: 2rem;
  position: absolute;
  right: 0.8rem;
  bottom: 0.3rem;
}
@media (max-width: 530px) {
  .start__title::after {
    width: 4rem;
    height: 1.5rem;
  }
}
@media (max-width: 420px) {
  .start__title::after {
    width: 3rem;
    height: 1rem;
  }
}
.start__title-text {
  background: linear-gradient(45deg, #2D83EC, #1AC9FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.start__text {
  margin-top: 4rem;
  font-size: 2.3rem;
  color: #6C7587;
  font-weight: 500;
  background: #EBECF0;
  display: inline-block;
  padding: 2rem 3rem;
  border-radius: 2rem;
  text-transform: uppercase;
  box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
  border: 3px solid rgba(255, 255, 255, 0);
  position: relative;
}
@media (max-width: 530px) {
  .start__text {
    font-size: 1.7rem;
  }
}
@media (max-width: 420px) {
  .start__text {
    font-size: 1.2rem;
  }
}
.start__text::before {
  content: "";
  background: url("../ton_symbol.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 0.8rem;
  top: 0.8rem;
}
.start__text-p {
  font-weight: 500;
}
.start__text-p:not(:last-child) {
  margin-bottom: 2rem;
}
@media (max-width: 420px) {
  .start__text-p:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.start__btn {
  margin-top: 6rem;
  border-radius: 4rem;
  color: #6C7587;
  border: 3px solid rgba(255, 255, 255, 0);
  text-align: center;
  background-color: #EBECF0;
  transition: all 250ms ease-in-out;
  padding: 1.5rem 4rem;
  font-size: 3rem;
  text-decoration: none;
  position: relative;
  border-color: rgba(255, 255, 255, 0);
}
@media (max-width: 530px) {
  .start__btn {
    font-size: 2.1rem;
  }
}
@media (max-width: 420px) {
  .start__btn {
    font-size: 2rem;
  }
}
.start__btn:hover {
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.5);
}
.start__btn:active {
  box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
}
.start__btn::before {
  content: "";
  background: linear-gradient(45deg, #2D83EC, #1AC9FF);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 40px;
}
.start__btn:hover::before {
  opacity: 0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.tasks {
  text-align: center;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}
.tasks-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.tasks-wrapper__task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 14rem;
       column-gap: 14rem;
  color: #6C7587;
  padding: 1rem 2rem;
  background: #EBECF0;
  border-radius: 2rem;
  text-decoration: none;
  box-shadow: 8px 8px 12px -2px rgba(72, 79, 96, 0.4), -6px -6px 12px -1px white;
  border: 0.3rem solid rgba(255, 255, 255, 0);
  transition: all 250ms ease-in-out;
}
@media (max-width: 475px) {
  .tasks-wrapper__task {
    -moz-column-gap: 7rem;
         column-gap: 7rem;
  }
}
.tasks-wrapper__task:hover {
  box-shadow: none;
  border: 0.3rem solid rgba(255, 255, 255, 0.5);
}
.tasks-wrapper__task:active {
  box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
  border: 0.3rem solid rgba(255, 255, 255, 0);
}
.tasks-wrapper__task:not(:last-child) {
  margin-bottom: 2rem;
}
.tasks-wrapper__task-name, .tasks-wrapper__task-price {
  font-size: 2.5rem;
}
@media (max-width: 475px) {
  .tasks-wrapper__task-name, .tasks-wrapper__task-price {
    font-size: 1.8rem;
  }
}
.tasks__btn {
  margin-top: 6rem;
  border-radius: 4rem;
  color: #6C7587;
  border: 3px solid rgba(255, 255, 255, 0);
  text-align: center;
  background-color: #EBECF0;
  transition: all 250ms ease-in-out;
  padding: 1.5rem 4rem;
  font-size: 3rem;
  text-decoration: none;
  position: relative;
  border-color: rgba(255, 255, 255, 0);
}
@media (max-width: 530px) {
  .tasks__btn {
    font-size: 2.1rem;
  }
}
@media (max-width: 420px) {
  .tasks__btn {
    font-size: 2rem;
  }
}
.tasks__btn:hover {
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.5);
}
.tasks__btn:active {
  box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
}
.tasks__btn::before {
  content: "";
  background: linear-gradient(45deg, #2D83EC, #1AC9FF);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 40px;
}
.tasks__btn:hover::before {
  opacity: 0;
}

.task {
  text-align: center;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 420px) {
  .task {
    padding: 3rem;
  }
}
.task__title {
  font-size: 3.5rem;
  font-weight: 700;
  border: 3px solid rgba(255, 255, 255, 0);
  transition: all 250ms ease-in-out;
  background-color: #EBECF0;
  display: inline-block;
  padding: 2rem;
  border-radius: 2rem;
  transition: all 250ms ease-in-out;
  position: relative;
  box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
  border-color: rgba(255, 255, 255, 0);
}
@media (max-width: 540px) {
  .task__title {
    font-size: 2rem;
  }
}
@media (max-width: 420px) {
  .task__title {
    font-size: 1.5rem;
  }
}
.task__title::after {
  content: "";
  background: url("../ton.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 5rem;
  height: 2rem;
  position: absolute;
  right: 0.8rem;
  bottom: 0.3rem;
}
@media (max-width: 530px) {
  .task__title::after {
    width: 4rem;
    height: 1.5rem;
  }
}
@media (max-width: 420px) {
  .task__title::after {
    width: 3rem;
    height: 1rem;
  }
}
.task__title-text {
  background: linear-gradient(45deg, #2D83EC, #1AC9FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.task__text {
  margin-top: 4rem;
  font-size: 1.9rem;
  color: #6C7587;
  font-weight: 500;
  background: #EBECF0;
  display: inline-block;
  padding: 2rem 3rem;
  border-radius: 2rem;
  text-transform: uppercase;
  box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
  border: 3px solid rgba(255, 255, 255, 0);
  position: relative;
  width: 37rem;
}
@media (max-width: 540px) {
  .task__text {
    font-size: 1.7rem;
    width: 17rem;
  }
}
@media (max-width: 420px) {
  .task__text {
    font-size: 1rem;
    width: 10rem;
  }
}
.task__text::before {
  content: "";
  background: url("../ton_symbol.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 0.8rem;
  top: 0.8rem;
}
.task__text-p {
  font-weight: 500;
}
.task__text-p:not(:last-child) {
  margin-bottom: 2rem;
}
@media (max-width: 420px) {
  .task__text-p:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.task__price {
  margin-top: 6rem;
  font-weight: 700;
  font-size: 6rem;
  text-transform: uppercase;
}
.task__btn {
  margin-top: 6rem;
  border-radius: 4rem;
  color: #6C7587;
  border: 3px solid rgba(255, 255, 255, 0);
  text-align: center;
  background-color: #EBECF0;
  transition: all 250ms ease-in-out;
  padding: 1.5rem 3rem;
  font-size: 3rem;
  text-decoration: none;
  position: relative;
  border-color: rgba(255, 255, 255, 0);
}
@media (max-width: 530px) {
  .task__btn {
    font-size: 2.1rem;
  }
}
@media (max-width: 420px) {
  .task__btn {
    font-size: 2rem;
  }
}
.task__btn:hover {
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.5);
}
.task__btn:active {
  box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
}
.task__btn::before {
  content: "";
  background: linear-gradient(45deg, #2D83EC, #1AC9FF);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 40px;
}
.task__btn:hover::before {
  opacity: 0;
}

.new-task {
  text-align: center;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 420px) {
  .new-task {
    padding: 3rem;
  }
}
.new-task__title {
  font-size: 2.8rem;
  font-weight: 700;
  border: 3px solid rgba(255, 255, 255, 0);
  transition: all 250ms ease-in-out;
  background-color: #EBECF0;
  display: inline-block;
  padding: 2rem;
  border-radius: 2rem;
  transition: all 250ms ease-in-out;
  position: relative;
  box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
  border-color: rgba(255, 255, 255, 0);
  position: relative;
}
@media (max-width: 530px) {
  .new-task__title {
    font-size: 2rem;
  }
}
@media (max-width: 420px) {
  .new-task__title {
    font-size: 1.5rem;
  }
}
.new-task__title::after {
  content: "";
  background: url("../ton.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 5rem;
  height: 2rem;
  position: absolute;
  right: 0.8rem;
  bottom: 0.3rem;
}
@media (max-width: 530px) {
  .new-task__title::after {
    width: 4rem;
    height: 1.5rem;
  }
}
@media (max-width: 420px) {
  .new-task__title::after {
    width: 3rem;
    height: 1rem;
  }
}
.new-task__title-text {
  background: linear-gradient(45deg, #2D83EC, #1AC9FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.new-task-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
.new-task-form__input {
  box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
  color: #6C7587;
  background-color: #EBECF0;
  border: 0.3rem solid rgba(255, 255, 255, 0);
  border-radius: 4rem;
  padding: 1rem 2.8rem;
  width: 80%;
  font-weight: 500;
  font-size: 2rem;
  outline: none;
  transition: all 250ms ease-in-out;
}
@media (max-width: 530px) {
  .new-task-form__input {
    font-size: 1.7rem;
  }
}
@media (max-width: 420px) {
  .new-task-form__input {
    font-size: 1.1rem;
  }
}
.new-task-form__input:not(:last-child) {
  margin-bottom: 1rem;
}
.new-task-form__input::-moz-placeholder {
  color: #6C7587;
  font-weight: 500;
  font-size: 2rem;
}
.new-task-form__input::placeholder {
  color: #6C7587;
  font-weight: 500;
  font-size: 2rem;
}
@media (max-width: 530px) {
  .new-task-form__input::-moz-placeholder {
    font-size: 1.7rem;
  }
  .new-task-form__input::placeholder {
    font-size: 1.7rem;
  }
}
@media (max-width: 420px) {
  .new-task-form__input::-moz-placeholder {
    font-size: 1.1rem;
  }
  .new-task-form__input::placeholder {
    font-size: 1.1rem;
  }
}
.new-task-form__input:focus {
  box-shadow: none;
}
.new-task-form__input:hover {
  box-shadow: none;
}
.new-task__btn {
  margin-top: 6rem;
  border-radius: 4rem;
  color: #6C7587;
  border: 3px solid rgba(255, 255, 255, 0);
  text-align: center;
  background-color: #EBECF0;
  transition: all 250ms ease-in-out;
  padding: 1.5rem 4rem;
  font-size: 3rem;
  text-decoration: none;
  position: relative;
  border-color: rgba(255, 255, 255, 0);
}
@media (max-width: 530px) {
  .new-task__btn {
    font-size: 2.1rem;
  }
}
@media (max-width: 420px) {
  .new-task__btn {
    font-size: 2rem;
  }
}
.new-task__btn:hover {
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.5);
}
.new-task__btn:active {
  box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
}
.new-task__btn::before {
  content: "";
  background: linear-gradient(45deg, #2D83EC, #1AC9FF);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 40px;
}
.new-task__btn:hover::before {
  opacity: 0;
}

.created {
  min-width: 32.4rem;
  margin: 1rem;
  text-align: center;
  background: #EBECF0;
  padding: 3rem;
}
.created__title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background: rgb(0, 122, 255);
  color: white;
  display: inline-block;
  padding: 2rem;
  border-radius: 2rem;
  margin-top: 3rem;
  margin-bottom: 7rem;
  transition: 0.5s all;
}
.created__title:hover {
  transform: translateY(-1rem);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.created__price {
  font-weight: 700;
  font-size: 6rem;
  text-transform: uppercase;
}
.created__price-shadow {
  transform: scale(1, -1) translateY(3rem);
  color: rgba(0, 0, 0, 0.1);
}
.created__btn {
  display: inline-block;
  border-radius: 1rem;
  padding: 1.5rem 3rem;
  text-decoration: none;
  color: rgb(37, 37, 39);
  background: rgb(225, 223, 229);
  font-size: 2.5rem;
  margin-top: 10rem;
  transition: 0.5s all;
  text-transform: uppercase;
  transition: 0.5s all;
}
.created__btn:hover {
  transform: translateY(-1rem);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
  background: rgb(0, 122, 255);
}
.created__btn:active {
  transform: translateY(-0.5rem);
}
.created__btn-second {
  margin-top: 3rem;
}

.pay {
  min-width: 32.4rem;
  margin: 1rem;
  text-align: center;
  background: #EBECF0;
  padding: 3rem;
}
.pay__title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background: rgb(0, 122, 255);
  color: white;
  display: inline-block;
  padding: 2rem;
  border-radius: 2rem;
  margin-top: 3rem;
  transition: 0.5s all;
}
.pay__title:hover {
  transform: translateY(-1rem);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.pay__text {
  margin-top: 6rem;
  font-size: 2rem;
  color: rgb(37, 37, 39);
  background: rgb(225, 223, 229);
  display: inline-block;
  padding: 2rem 3rem;
  border-radius: 2rem;
  text-transform: uppercase;
  transition: 0.5s all;
}
.pay__text:hover {
  transform: translateY(-1rem);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.pay__text-p {
  font-weight: 500;
}
.pay__text-p:not(:last-child) {
  margin-bottom: 2rem;
}
.pay__link {
  margin-top: 8rem;
  font-size: 1.5rem;
}
.pay__link:hover {
  text-decoration: underline 0.2rem solid rgb(37, 37, 39);
  -webkit-text-decoration: underline 0.2rem solid rgb(37, 37, 39);
}/*# sourceMappingURL=style.css.map */