.created
	min-width: 32.4rem
	margin: 1rem
	text-align: center
	background: $bg
	padding: 3rem
	&__title
		font-size: 2.5rem
		text-transform: uppercase
		font-weight: 700
		background: $blue
		color: white
		display: inline-block
		padding: 2rem
		border-radius: 2rem
		margin-top: 3rem
		margin-bottom: 7rem
		@include hover
	&__price
		font-weight: 700
		font-size: 6rem
		text-transform: uppercase
		&-shadow
			transform: scale(1,-1) translateY(3rem)
			color: rgba(0,0,0,0.1)

	@include btn
		&-second
			margin-top: 3rem