$blue: rgb(0,122,255)
$gray: rgb(225, 223, 229)
$dark: rgb(37, 37, 39)
$bg: #EBECF0

@mixin hover
	transition: .5s all
	&:hover
		transform: translateY(-1rem)
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
		@content

@mixin btn
	&__btn
		display: inline-block
		border-radius: 1rem
		padding: 1.5rem 3rem
		text-decoration: none
		color: $dark
		background: $gray
		font-size: 2.5rem
		margin-top: 10rem
		transition: .5s all
		text-transform: uppercase
		@include hover
			color: white
			background: $blue
		&:active
			transform: translateY(-.5rem)
		@content
@mixin button
	&__btn
		margin-top: 60px
		border-radius: 40px
		color: #6C7587
		border: 3px solid rgba(255, 255, 255, 0)
		text-align: center
		background-color: #EBECF0
		transition: all 250ms ease-in-out
		padding: 15px 40px
		font-size: 30px
		text-decoration: none
		position: relative
		&:hover
			box-shadow: none
			border-color: rgba(255, 255, 255, 0.5)
		&:active
			box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5)
		border-color: rgba(255, 255, 255, 0)
		&::before 
			content: ''
			background: linear-gradient(45deg, #2D83EC, #1AC9FF)
			position: absolute
			top: -2px
			left:-2px
			background-size: 400%
			z-index: -1
			filter: blur(5px)
			width: calc(100% + 10px)
			height: calc(100% + 10px)
			animation: glowing 20s linear infinite
			opacity: 1
			transition: opacity .3s ease-in-out
			border-radius: 40px
		&:hover::before
			opacity: 0
@keyframes glowing 
	0%
		background-position: 0 0 
	50%
		background-position: 400% 0 
	100%
		background-position: 0 0 

